<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
      <h2>Editar usuario</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :email, "Correo electrónico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"registration" %>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      
        <div class="field">
          <%= f.label :password, "Contraseña nueva" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"registration" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres mínimo</em>
          <% end %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Confirmacion de nueva contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"registration" %>
        </div>
      
        <div class="field">
          <%= f.label :current_password, "Actual contraseña" %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class:"registration" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Actualizar" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
