<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
      <h2>Crear cuenta</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :email, "Correo electrónico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"registration" %>
        </div>
      
        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"registration" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Contraseña de confirmación" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"registration" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Crear cuenta", class:"btn-save" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
