<header>
  <nav class="be-green white topic-padding">
    <ul class="row center-xs">
      <li class="col-sm li"> <%= link_to "Inicio", root_path %> </li>
      <li class="col-sm li"> <%= link_to "Profesores", professors_path %> </li>
      <li class="col-sm li"> <%= link_to "Estudiantes", students_path %> </li>
      <li class="col-sm li"> <%= link_to "Materias", subjects_path %> </li>
      <li class="col-sm li"> <%= link_to "Cursos", courses_path %> </li>
      <li class="col-sm li"> <%= link_to "Notas", records_path %> </li>
      <li class="col-sm li"> <%= link_to "Informe de Notas", "/form" %> </li>
    </ul>
  </nav>
</header>