<%= form_with(model: professor) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error/es") %> de validacion sin resolver:</h2>
      <ul>
        <% professor.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :Nombre, class:"form-reg" %>
    <%= form.text_field :name, class:"form-reg" %>
  </div>
  <div class="field">
    <%= form.label :Dirección, class:"form-reg" %>
    <%= form.text_area :address, class:"form-area" %>
  </div>
  <div class="field">
    <%= form.label :Teléfono, class:"form-reg" %>
    <%= form.text_field :phone, class:"form-reg" %>
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Guardar" data-disable-with="Guardar" class="btn-save">
  </div>
<% end %>
