<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error/es") %> de validacion sin resolver:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Profesor</h3>
    <select name="course[professor_id]">
    <option value = nil>Seleccione un Profesor</option>
    <% Professor.all.each do |profesor| %>
      <option <%= profesor.id == course.professor_id ? "selected" : "" %> value="<%= profesor.id %>"><%= profesor.name %></option>
    <% end %>
    </select>
  </div>

  <div class="field">
    <h3>Materia</h3>
    <select name="course[subject_id]">
    <option value = nil>Seleccione una Materia</option>
      <% Subject.all.each do |materia| %>
        <option <%= materia.id == course.subject_id ? "selected" : "" %> value="<%= materia.id %>"><%= materia.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <h3 class="form-reg">Período</h3>
    <%= form.text_field :period, class:"form-reg" %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Guardar" data-disable-with="Guardar">
  </div>
<% end %>
