<div style="width:80%; margin:10px auto; position: relative;">
  <h1>Cursos</h1>

  <table class="table-index">
    <thead>
      <tr>
        <th>Profesor</th>
        <th>Materia</th>
        <th>Periodo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.professor.name %></td>
          <td><%= course.subject.name %></td>
          <td><%= course.period %></td>
          <td><%= link_to 'Mostrar', course %></td>
          <td><%= link_to 'Editar', edit_course_path(course) %></td>
          <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Curso', new_course_path, class:"btn-new" %>
</div>