<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render "partials/navigation" %>
  <% end %>
  <%= render "partials/nav_log" %>
  <div style="width:80%; margin:1px auto; position: relative;">
    <p style="margin:1px; padding:1px;" id="notice"><%= notice %></p>
    <p style="margin:1px; padding:1px;" class="alert"><%= alert %></p>
  </div>

    <%= yield %>
  </body>
</html>
